/* 演示样式 */
.example {
  padding: 20px 0;
}

.example h2 {
  font-size: 28px;
  color    : #1f2f3d;
  margin   : 12px 0;
}

.example a {
  color: #409EFF;
}

.example a:hover {
  text-decoration: underline;
}

.example .code {
  display      : block;
  background   : #1e1e1e;
  border-radius: 8px;
  padding      : 12px;
  margin       : 0 0 15px;
  white-space  : pre-wrap;
  font-size    : 0;
}

.code>textarea {
  width     : 100%;
  height    : 100%;
  border    : 0;
  color     : #569cd6;
  background: transparent;
  resize    : none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.7;
  font-size  : 14px;
}

.example .demo {
  border       : 1px solid #ebebeb;
  border-radius: 3px;
  padding      : 24px;
  margin-bottom: 15px;
}

.example p {
  font-size  : 14px;
  color      : #5e6d82;
  line-height: 1.5em;
  margin     : 1em 0;
}